{set:$seo_data=array(); $site_config=new Config('site_config');$site_config=$site_config->getInfo();}
{set:$seo_data['title']="用户注册_".$site_config['name']}
{set:seo::set($seo_data);}
<link rel="stylesheet" href="{skin:css/register.css}" />
<style>
.register .submit {
    text-indent: 0;
}
body {
    text-align: left;
}
.footer {
    background-color: #FFFFFF;
    border-top: 1px solid #EEEEEE;
    margin-top: 20px;
    padding: 20px 0 30px;
    text-align: center;
}

.error{padding:0px}
</style>
<script type='text/javascript' src="{theme:javascript/register.js}"></script>
<div class="w">
    <div class="header">
        <a hidefocus="true" title="{echo:$siteConfig->name}" href="{url:}"><img height="35" src="" /></a>
        <h2>账户注册</h2>
    </div>
	<div class="steps step-2">
        <ol>
            <li class="step1">1 填写账户信息</li>
            <li class="step2">2 验证账户信息</li>
            <li class="step3">3 注册成功</li>
        </ol>	
	</div>
    <div class="register clearfix">
        <form action="" method="post">
            <div class="item">
                <span>您的电子邮箱：</span>
                <div class="item-ifo">
                    <input name="email" type="text" id="email" class="text" />
                </div>
                <div class="msg-box"><div></div></div>
            </div>
			<div class="item email">
                <div class="item-ifo">
                    <label><input type="checkbox" disabled="disabled" checked="checked" />同意协议</label>
                </div>
            </div>
            <div class="item register-btn">
          	    <input type="text" style="display:none;" class="text">
                <input class="submit" type="button" value="提交" />
			</div>
        </form>
    </div>
</div>
